In [108]:
import pandas as pd
import numpy as np

# Assignment: Segmenting and Clustering Neighborhoods in Toronto Part 1

In [109]:
d = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

In [110]:
df = d[0]

In [111]:
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Question: Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned   
Answer : Drop rows where Borough value is Not assigned

In [112]:
df.drop(df[df.Borough=='Not assigned'].index,axis=0, inplace=True)

In [113]:
df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

Question: More than one neighborhood can exist in one postal code area.These two rows will be combined into one row with the neighborhoods separated with a comma   
Answer : Merging values of same postal code & join the Neighborhood with commas

In [114]:
df.set_index(['Postcode','Borough'],inplace=True)

In [115]:
df = df.groupby(level=['Postcode','Borough'], sort=False).agg( ','.join)

Question: If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.   

Answer: Check how many rows are there with Neighborhood value as Not assigned

In [116]:
df[df.Neighborhood=='Not assigned']

                       Neighborhood
Postcode Borough
M9A      Queen's Park  Not assigned

As there is only one value, we can easily replace it with Borough value by replace mathod

In [117]:
df['Neighborhood'] = df['Neighborhood'].replace(to_replace='Not assigned',value= "Queen's Park")

In [118]:
# check whether there are other not assigned values in Neighborhood column
df[df.Neighborhood=='Not assigned']

Empty DataFrame
Columns: [Neighborhood]
Index: []

In [147]:
df.reset_index()
df.head()

                                              Neighborhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto                     Harbourfront
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Downtown Toronto                     Queen's Park

Question : In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [148]:
# print the final shape of the dataframe

df.shape

(103, 1)

# Assignment: Segmenting and Clustering Neighborhoods in Toronto Part 2

In [138]:
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')

In [139]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [141]:
df_geo.columns = ['Postcode','Latitude','Longitude']

In [144]:
df_final = df.merge(df_geo, on='Postcode')

In [145]:
df_final.head()

  Postcode                     Neighborhood   Latitude  Longitude
0      M3A                        Parkwoods  43.753259 -79.329656
1      M4A                 Victoria Village  43.725882 -79.315572
2      M5A                     Harbourfront  43.654260 -79.360636
3      M6A  Lawrence Heights,Lawrence Manor  43.718518 -79.464763
4      M7A                     Queen's Park  43.662301 -79.389494

In [129]:
df_final.shape

(103, 4)